.wrapper_with_padding
  %h2 Sign up
  .app-login
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs-outside
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true
        = f.input :birth_date, required: true, start_year:1980
      .form-actions
        = f.button :submit, "Sign up", class: "button"
  .app-information
    .app-information-styles
      %h3
        Create and Account and Join the Cafe Ambiance Team
      %p
        Raw denim chartreuse snackwave kickstarter tousled bitters skateboard 3 wolf moon edison bulb jianbing readymade cornhole salvia green juice beard. Palo santo fam sriracha, yr mustache fashion axe raw denim offal microdosing. Flannel austin pabst slow-carb waistcoat. Meditation forage kale chips YOLO direct trade cardigan flexitarian art party lumbersexual asymmetrical fingerstache. Swag williamsburg tofu, subway tile kale chips put a bird on it la croix pour-over hoodie keytar succulents. Echo park yuccie enamel pin kickstarter microdosing. Tofu 8-bit single-origin coffee craft beer tilde skateboard wolf fixie cardigan. Mumblecore mlkshk pour-over vaporware humblebrag fam single-origin coffee direct trade marfa. Paleo yr chicharrones intelligentsia wolf, polaroid hoodie truffaut biodiesel 90's adaptogen health goth palo santo heirloom quinoa.
