= simple_form_for @cafe do |c|
  = c.input :name, required: true
  = c.input :description, maxlength: 400, required: true
  = c.input :street_address, required: true
  = c.input :state, required: true
  = c.input :editors_note, required: true
  = c.input :website
  = c.input :price, required: true
  = c.input :yelp_link

  / = c.label :mp3
  / # = c.input :mp3, as: :file, required: true
  = c.input :image, as: :file, required: true
  = c.submit :submit
