#cafe_show
  .image-holding-div
    = image_tag @cafe.image.url(:medium)
    .cafe-title
      Cafe Ambience
      %br
      %p
        Today's cafe from
        = @cafe.name

    .white_logo_image
    .second-background-image
      .hidePlayer{ :style => "display: none; " }
        = render partial: 'player'
      .container
        .row
          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Cafe Description
                %p= @cafe.editors_note

          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Cafe Info
                %p= @cafe.food
                %p= @cafe.price
                %p= @cafe.website
                %p= @cafe.yelp_link
                %p= @cafe.street_address
                %p= @cafe.city
                %p= @cafe.state

          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Uploader Info
                - if @cafe.user.image
                  = image_tag @cafe.image.url(:medium)
                - else
                  = image_tag 'cafe-ambiance-white-logo.jpg', alt: ''
                %p This cafe uploaded by #{@cafe.user.first_name} #{@cafe.user.last_name}
                %p= @cafe.user.email
    .overflow-image


    / = link_to 'All Cafes ', cafes_path
    / = link_to 'Edit', edit_cafe_path(@cafe)
    / = link_to 'Delete', cafe_path(@cafe), method: :delete, data: { confirm: 'Are you sure?' }

/ :javascript
/   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
