/ .wrapper_with_padding

#cafe_show
  .image_holding_div
    = image_tag @cafe.image.url(:medium)
    .cafe_title
      Cafe Ambience
      %br
      %p
        Today's cafe from
        = @cafe.name



    / .other_test
    /   %h3=  @cafe.name
    /   %p= @cafe.description


    .white_logo_image

    .second_background_image
      .cafe_info
        %p= @cafe.name
        %p= @cafe.description
        %p= @cafe.street_address
        %p= @cafe.state
        %p= @cafe.editors_note

        / I need
        / Type
        / Price*
        / Food*
        / Website
        / Yelp Link








    / .cafe_ambience_info
    /   This is a quick test

    / = link_to 'All Cafes ', cafes_path
    / = link_to 'Edit', edit_cafe_path(@cafe)
    / = link_to 'Delete', cafe_path(@cafe), method: :delete, data: { confirm: 'Are you sure?' }

