#cafe_show
  .image-holding-div
    = image_tag @cafe.image.url(:medium)
    .cafe-title
      Cafe Ambience
      %br
      %p
        Today's cafe from
        = @cafe.name

    / .other_test
    /   %h3=  @cafe.name
    /   %p= @cafe.description


    .white_logo_image
    .second_background_image
      / = render partial: 'player'
      .container
        .row
          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Cafe Description
                %p= @cafe.editors_note

          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Cafe Info
                %p= @cafe.food
                %p= @cafe.food
                %p= @cafe.price
                %p= @cafe.website
                %p= @cafe.yelp_link

          .col-md-4
            .cafe-page-details-nest
              .cafe-page-details
                %h2 Uploader Info
                / %p= @user.first_name


    / .controller
    /   .row
    /     .col-md-6
    /       this is an MD 4
    /     .col-md-6
    /       .col-md-12
    /         this is an MD 4
    /       .col-md-12
    /         this is an MD 4

    / .cafe_info
    /   %p= @cafe.name
    /   %p= @cafe.description
    /   %p= @cafe.street_address
    /   %p= @cafe.state
    /   %p= @cafe.editors_note

    /   %p= @cafe.website
    /   %p= @cafe.yelp_link



    / = link_to 'All Cafes ', cafes_path
    / = link_to 'Edit', edit_cafe_path(@cafe)
    / = link_to 'Delete', cafe_path(@cafe), method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");z
