/ .wrapper_with_padding

#cafe_show
  .image_holding_div
    = image_tag @cafe.image.url(:medium)
    .cafe_title
      Cafe Ambience
      %br
      %p
        Today's cafe from
        = @cafe.name



    / .other_test
    /   %h3=  @cafe.name
    /   %p= @cafe.description


    .white_logo_image

    .second_background_image
      .cafe_info
        %p= @cafe.name
        %p= @cafe.description
        %p= @cafe.street_address
        %p= @cafe.state
        %p= @cafe.editors_note

        / I need
        / Type
        / Price*
        / Food*
        / Website
        / Yelp Link

#episode_content
  #jquery_jplayer_1.jp-jplayer
  #jp_container_1.jp-audio
    .jp-type-single
      .jp-gui.jp-interface
        %ul.jp-controls
          %li
            %a.jp-play{:href => "javascript:;", :tabindex => "1"} 
          %li
            %a.jp-pause{:href => "javascript:;", :tabindex => "1"} 
          %li
            %a.jp-mute{:href => "javascript:;", :tabindex => "1", :title => "mute"} 
          %li
            %a.jp-unmute{:href => "javascript:;", :tabindex => "1", :title => "unmute"} 
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-time-holder
          .jp-current-time
        .jp-volume-bar
          .jp-volume-bar-value
        .jp-no-solution
          %span Update Required
          To play the media you will need to either update your browser to a recent version or update your
          = succeed "." do
            %a{:href => "http://get.adobe.com/flashplayer/", :target => "_blank"} Flash plugin


:javascript
  $(document).ready(function(){
    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          mp3: "<%= @cafe.mp3.url %>",
        });
      },
      swfPath: "/js",
      supplied: "mp3"
    });
  });








    / .cafe_ambience_info
    /   This is a quick test

    / = link_to 'All Cafes ', cafes_path
    / = link_to 'Edit', edit_cafe_path(@cafe)
    / = link_to 'Delete', cafe_path(@cafe), method: :delete, data: { confirm: 'Are you sure?' }

